<h2>Chat Rooms</h2>

<ul>
  <%= for room <- @rooms do %>
    <li>
      <%= live_patch room.name, to: ~p"/rooms/#{room.id}" %>

    </li>
  <% end %>
</ul>

<h3>Create a New Room</h3>
<form phx-submit="create_room" phx-change="validate">
  <input type="text" name="room[name]" value={@new_room_name} placeholder="Room name" />
  <button type="submit">Create</button>
</form>

<%= if @error do %>
  <p class="error"><%= @error %></p>
<% end %>

